html, body {
  min-height: 90vh;
  background-color: #0d30a3;
  padding: 0 10px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 6rem;
}

p {
  font-family: 'PT Serif', serif;
  font-size: 2.5rem;
}

.buttons-container {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

.another-joke-btn {
  border-radius: 5px;
  border: none;
  padding: 0 10px;
}

button:hover {
  cursor: pointer;
}

#container {
  margin: auto;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

@media (max-width:600px) {

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 2.5rem;
  }

  .buttons-container {
    width: 100%;
    margin-bottom: 40px;
  }
}